<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{'/admin/'+${user.id}}" th:object="${user}">
    <p><input type="hidden" th:field="*{id}" /></p>

    <p><label for="username">Username</label></p>
    <p><input type="text" th:field="*{username}" id="username" value="username" required></p>

    <p><label for="name">Name</label></p>
    <p><input type="text" th:field="*{name}" id="name" value="name"></p>

    <p><label for="password">Password</label></p>
    <p><input type="password" th:field="*{password}" id="password" value="password"></p>

    <p><label for="email">Email</label></p>
    <p><input type="text" th:field="*{email}" id="email" value="email"></p>

    <p><label for="age">Age</label></p>
    <p><input type="number" th:field="*{age}" id="age" value="age"></p>

    <hr>
    <label for="selectRoles">Select roles</label>
    <select class="form-control" name="selectRoles[]" required multiple id="selectRoles" size="2">
        <option value="1">ADMIN</option>
        <option value="2">USER</option>
    </select>
    <br>
    <button class="btn btn-success" type="submit" >Add new user</button>

<!--    <ul>-->
<!--        <li th:each="role : ${rolesList}">-->
<!--            <input type="checkbox" name="selectedRoles" th:value="${role}"-->
<!--                   th:text="${role.name}"/>-->
<!--        </li>-->
<!--    </ul>-->
    <p>
        <input type="submit" value="Create!">
    </p>

</form>
<p>
<form method="POST" th:action="@{/logout}" >
    <input type="submit" value="Logout"/>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--        crossorigin="anonymous"></script>-->
</body>
</html>